<div class="about">

  <header class="flex-column">

    <h1>Movies.ts</h1>

    <h2>BE ENTERTAINED, BE ENRICHED</h2>

  </header>


  <main class="flex-column">

    <h3>The films that truly resonate with us do more than just entertain. They inspire us, enrich us, and challenge our perspectives. Movies.ts ensures that these films reach viewers around the world.</h3>

    <p>We stream thoughtful entertainment to your preferred device with no fees and no commercials by partnering with public libraries and universities. Everyone from film scholars to casual viewers will discover remarkable and enriching films on Movies.ts. Log in with your library membership and enjoy our diverse catalog with new titles added every month.</p>

    <p>At Movies.ts we believe in the power of film to bridge cultural boundaries and bring people together. Start watching today and expand your worldview with us.</p>

    <p><a class="btn btn-lg btn-primary" routerLink="/">Start watching</a></p>

  </main>

</div>
