<div id="myCarousel" class="carousel slide pt-5" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner" >
    <div class="carousel-item active" *ngIf="trending1">
      <div class="container flex-row">
        <div class=" text-start" >
          <h2> {{trending1.title}} </h2>
          <p class="genre"> {{trending1.genre}} </p>
          <p class="description"> {{trending1.description}} </p>
          <p><a class="btn btn-lg btn-primary" href="#">Watch</a></p>
        </div>
        <img  width="250" height="250" src="{{trending1.img_url}}" alt="">
      </div>
    </div>

    <div class="carousel-item" *ngIf="trending2">
      <div class="container flex-row">
        <div >
          <h2> {{trending2.title}} </h2>
          <p class="genre"> {{trending2.genre}} </p>
          <p class="description"> {{trending2.description}} </p>
          <p><a class="btn btn-lg btn-primary" href="#">Watch</a></p>
        </div>
        <img  width="250" height="250" src="{{trending2.img_url}}" alt="">
      </div>
    </div>

    <div class="carousel-item" *ngIf="trending3">
      <div class="container flex-row">
        <div class=" text-end">
          <h2> {{trending3.title}} </h2>
          <p class="genre"> {{trending3.genre}} </p>
          <p class="description"> {{trending3.description}} </p>
          <p><a class="btn btn-lg btn-primary" href="#">Watch</a></p>
        </div>
        <img  width="250" height="250" src="{{trending3.img_url}}" alt="">
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
