.dropdown-menu{
  width: 100%!important;
  display: flex;
  justify-content: space-around;

  li{
    cursor: pointer;
  }

  .dropdown-item{
    text-transform: capitalize;
    border-radius: 3px;
  }
}
