.reviews{
  min-height: calc(100vh - 5rem);
  padding-bottom: 3rem;
}

header{
  justify-content: center;
  background-color: rgb(74, 124, 126);
  color: #f4f4f4;
  width: 100%;
  height: 15vh;

  .btn{
    padding: 0.5rem;
  }
}

main{
  width: 100%;
  margin-top: 2rem;

  form{
    input{
      height: 2rem;
      line-height: 2rem;
      margin: 0 0.5rem 0 0.5rem;
    }

    .btn-submit{
      border: 1px solid #0d6efd;
      border-radius: 3px;
      text-shadow: none;
      box-shadow: none!important;
      padding: 0 0.5rem;
      cursor: pointer;
      background: #0d6efd;
      color: #fff;
    }

    .btn-submit:hover{
      background-color: #0b5acf;
    }
  }

  .review-items{
    width: 100%;
    align-items: center;
  }
}
