<div>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-5 mb-4 border-bottom">
    <h2>Movies.ts</h2>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-dark" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/about" class="nav-link px-2 link-dark" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
      <li><a routerLink="/reviews" class="nav-link px-2 link-dark" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reviews</a></li>
      <li><a routerLink="/contact" class="nav-link px-2 link-dark" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a *ngIf="!isLoggedIn()" type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</a>
      <a *ngIf="!isLoggedIn()" type="button" routerLink="/register" class="btn btn-primary">Sign-up</a>
      <a *ngIf="isAdmin()" routerLink="/add-movie" class="btn btn-outline-primary me-2">Add movie</a>
      <a *ngIf="isLoggedIn()" type="button" (click)="onLogout()" class="btn btn-primary">Sign-out</a>
    </div>
  </header>
</div>
